<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>EmployeeListServlet</display-name>
  	<servlet-name>EmployeeListServlet</servlet-name>
  	<servlet-class>bankingproject.ui.EmployeeListServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LoginServlet</display-name>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>bankingproject.ui.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LogoutServlet</display-name>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>bankingproject.ui.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CustomerListServlet</display-name>
  	<servlet-name>CustomerListServlet</servlet-name>
  	<servlet-class>bankingproject.ui.CustomerListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmployeeListServlet</servlet-name>
  	<url-pattern>/EmployeeListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerListServlet</servlet-name>
  	<url-pattern>/CustomerListServlet</url-pattern>
  </servlet-mapping>
</web-app>
